body {
  background-color: yellow;
}
header {
  background-color: grey;
}
.board {
  margin: 5% auto;
  background-color: tan;
  width: 80%;
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tower {
  background-color: blue;
  width: 30%;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.disc {
  height: 10%;
  width: 30%;
  background-color: purple;
  border: 5px solid black;
}
#disc1 {
  width: 30%;
  order: 1;
}
#disc2 {
  width: 40%;
    order: 2;
}
#disc3 {
  width: 50%;
    order: 3;
}
#disc4 {
  width: 60%;
    order: 4;
}
#disc5 {
  width: 70%;
    order: 5;
}
#disc6 {
  width: 80%;
    order: 6;
}
#disc7 {
  width: 90%;
    order: 7;
}
.base {
  height: 0;
  width: 0;
  border:0;
  order: 99;
}
.selected {
  border: 5px dotted white;
}
.tower:hover {
  border: 1px dotted white;
}
